@{
    Layout = "_AdminLayout";
}

@model X.PagedList.IPagedList<Entities.Concrete.Sale>

@using X.PagedList.Mvc.Core;
@using X.PagedList;

@section pagination
{
    <link href="/css/PagedList.css" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Yönetim Paneli";
}

<div class="container Sales position-relative mt-4">
    <h2 class="text-center">Satılık Bisikletler</h2>
    @if (TempData["createSuccess"] != null)
    {
        <h1 class="text-center" style="color: red;">@TempData["createSuccess"]</h1>
    }

    @if (TempData["updateSuccess"] != null)
    {
        <h1 class="text-center" style="color: red;">@TempData["updateSuccess"]</h1>
    }

    @if (TempData["deleteResult"] != null)
    {
        <div class="alert alert-warning myAlert">
            <p>@TempData["deleteResult"]</p>
        </div>
    }
    <hr />
    <div class="row d-flex Sales-row justify-content-center">

        @if (ViewBag.result.Count > 0)
        {
            @await Html.PartialAsync("_updateSaleCard", Model)
        }
        else
        {
            <div class="alert alert-warning myAlert text-center">
                @ViewBag.updateResult
            </div>
        }


    </div>


    <div class="row">
        <div class="text-center d-flex justify-content-center">@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))</div>
    </div>



</div>