@{
    Layout = "_AdminLayout";
}
@model Entities.Concrete.User

@{
    ViewBag.Title = "Yönetim Paneli - Kullanıcı Yönetimi";
}

@if (!ViewBag.userManagementResult)
{
    <h1 class="text-center">@ViewBag.userManagementMessage</h1>
}
else
{

    <h1 class="pt-2">Hesap Ayarları</h1>

    <form class="row mt-4 g-3 pb-2" method="post" asp-controller="Admin" asp-action="UserManagement">

        <div class="col-md-6">
            <input type="hidden" name="Role" class="form-control" value="@Model.Role">
        </div>

        <div class="col-md-6">
            <input type="hidden" name="Id" class="form-control" value="@Model.Id">
        </div>

        <div class="col-md-6">
            <label for="Name" class="form-label">İsim</label>
            <input type="text" name="Name" class="form-control" value="@Model.Name">
        </div>

        <div class="col-md-6">
            <label for="LastName" class="form-label">Soyisim</label>
            <input type="text" name="LastName" class="form-control" value="@Model.LastName">
        </div>

        <div class="col-md-6">
            <label for="Password" class="form-label">Şifre</label>
            <input type="password" name="Password" class="form-control" value="@Model.Password">
        </div>

        <div class="col-md-6">
            <label for="Email" class="form-label">E-Mail</label>
            <input type="email" name="Email" class="form-control" value="@Model.Email">
        </div>

        <div class="col-md-6">
            <label for="Phone" class="form-label">Telefon</label>
            <input type="tel" name="Phone" class="form-control" value="@Model.Phone">
        </div>

        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Onayla</button>
        </div>

    </form>



}
