@{
    Layout = "_AdminLayout";
}
@model Entities.Concrete.Sale

@{
    ViewBag.Title = "Yönetim Paneli - İlan Güncelle";
}


@if (ViewBag.updateResult != null)
{

    <div class="container">

        <form class="row mt-4 g-3 pb-5" method="post" asp-controller="Sales" asp-action="Create" enctype="multipart/form-data">
            <div class="col-md-4">
                <label for="Topic" class="form-label">Başlık</label>
                <input type="text" name="Topic" class="form-control" id="Topic" value="@Model.Topic">
            </div>
            <div class="col-md-4">
                <label for="Usage" class="form-label">Kullanım Durumu</label>
                <select id="Usage" name="Usage" class="form-select">
                    <option selected value="@Model.Usage">@Model.Usage</option>
                    <option value="@(@Model.Usage== "Sıfır" ? "İkinci El" : "Sıfır")">@(@Model.Usage== "Sıfır" ? "İkinci El" : "Sıfır")</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="Price" class="form-label">Fiyat</label>
                <input type="number" step="0.01" name="Price" class="form-control" id="Price" value="@Model.Price">
            </div>

            <div class="col-md-4">
                <label for="Genre" class="form-label">Tür</label>
                <select id="Genre" name="Genre" class="form-select">
                    <option selected value="@Model.Genre">@Model.Genre</option>
                    <option value="Yol Bisikleti">Yol Bisikleti</option>
                    <option value="Dağ Bisikleti">Dağ Bisikleti</option>
                    <option value="Şehir Bisikleti">Şehir Bisikleti</option>
                    <option value="Katlanır Bisiklet">Katlanır Bisiklet</option>
                    <option value="Elektrikli Bisiklet">Elektrikli Bisiklet</option>
                </select>
            </div>

            <div class="col-md-12">
                <label for="Description" class="form-label">Açıklama</label>
                <textarea class="form-control" name="Description" id="Description" rows="4">@Model.Description</textarea>
            </div>

            <div class="col-md-4">
                <label for="Brand" class="form-label">Marka</label>
                <input type="text" name="Brand" class="form-control" value="@Model.Brand">
            </div>

            <div class="col-md-4">
                <label for="Model" class="form-label">Model</label>
                <input type="text" name="Model" class="form-control" value="@Model.Model">
            </div>

            <div class="col-md-4">
                <label for="FrameSize" class="form-label">Kadro Boyu</label>
                <input type="text" name="FrameSize" class="form-control" value="@Model.FrameSize">
            </div>

            <div class="col-md-4">
                <label for="WheelSize" class="form-label">Tekerlek çapı</label>
                <input type="text" name="WheelSize" class="form-control" value="@Model.WheelSize">
            </div>

            <div class="col-md-4">
                <label for="BrakeSystem" class="form-label">Fren sistemi</label>
                <input type="text" name="BrakeSystem" class="form-control" value="@Model.BrakeSystem">
            </div>

            <div class="col-md-4">
                <label for="ForkType" class="form-label">Maşa tipi</label>
                <input type="text" name="ForkType" class="form-control" value="@Model.ForkType">
            </div>

            <div class="col-md-4">
                <label for="Speed" class="form-label">Vites Sayısı</label>
                <input type="number" name="Speed" class="form-control" value="@Model.Speed">
            </div>

            <div class="col-md-4">
                <label for="Warranty" class="form-label">Garanti Durumu</label>
                <select id="Warranty" name="Warranty" class="form-select">
                    <option selected value="@Model.Warranty">@Model.Warranty</option>
                    <option value="@(@Model.Warranty== "Devam Ediyor" ? "Devam Etmiyor" : "Devam Ediyor")">@(@Model.Warranty== "Devam Ediyor" ? "Devam Etmiyor" : "Devam Ediyor")</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="RearDerailleur" class="form-label">Arka Aktarıcı</label>
                <input type="text" name="RearDerailleur" class="form-control" value="@Model.RearDerailleur">
            </div>

            <div class="col-md-4">
                <label for="FrontDerailleurs" class="form-label">Ön Aktarıcı</label>
                <input type="text" name="FrontDerailleurs" class="form-control" value="@Model.FrontDerailleurs">
            </div>

            <div class="col-md-4">
                <label for="Crankset" class="form-label">Aynakol</label>
                <input type="text" name="Crankset" class="form-control" value="@Model.Crankset">
            </div>

            <div class="col-md-4">
                <label for="Shifters" class="form-label">Vites Kolları</label>
                <input type="text" name="Shifters" class="form-control" value="@Model.Shifters">
            </div>

            <div class="col-md-4">
                <label for="Image" class="form-label">Fotoğraf</label>
                <input class="form-control" name="Image" type="file" id="Image">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Gönder</button>
            </div>


        </form>

    </div>
}
else
{
    <div class="alert alert-warning myAlert">
        @ViewBag.updateMessage
    </div>
}